body {
    margin: 0;
    background: linear-gradient(to bottom, blue, red, yellow); /* Градиентный фон от синего к красному и желтому */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header {
    width: 100%;
    padding: 0;
    text-align: center;
    background: none; /* Убираем фон */
    margin-top: 20px; /* Добавляем отступ сверху */
}
header img {
    width: 25%; /* Уменьшенная ширина до 25% от ширины экрана */
    height: auto; /* Автоматическое изменение высоты */
    max-width: 448px; /* Максимальная ширина */
}
nav ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
}
nav ul li {
    display: inline; /* Отображаем элементы списка в одну строку */
    margin: 0 10px;
}
nav ul li a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}
.section {
    width: 50%;
    height: 300px;
    background-color: #fff; /* Белый цвет фона раздела */
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px; /* Закругление углов */
}

/* Стили бокового меню */
#sidebar {
    height: 100%; /* Полная высота */
    width: 0; /* Начальная ширина */
    position: fixed; /* Фиксированное положение */
    top: 0;
    left: 0;
    background-color: #111; /* Темный фон */
    overflow-x: hidden; /* Отключение горизонтальной прокрутки */
    transition: 0.5s; /* Плавный переход */
    padding-top: 60px; /* Отступ сверху */
}
#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#sidebar a:hover {
    color: #f1f1f1;
}
#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Кнопка для открытия бокового меню */
#openBtn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
